<article class="post">
    <h1>{{ title }}</h1>
    {{#if release_year}}
        <p>Released: {{ release_year }}</p>
    {{/if}}
    {{#if origin_ethnicity}}
        <p>Country: {{ origin_ethnicity }}</p>
    {{/if}}
    {{#if director}}
        <p>Director: {{ director }}</p>
    {{/if}}
    {{#if cast}}
        <p>Cast: {{ cast }}</p>
    {{/if}}
    {{#if genre}}
        <p>Genre: {{ genre }}</p>
    {{/if}}
    {{#if wiki_page}}
        <a href="{{ wiki_page }}">Wiki Page</a>
    {{/if}}
    {{#if plot}}
        <p>{{ plot }}</p>
    {{/if}}
</article>
single
