<article class="post">
    <h1>{{ title }}</h1>
    <div class="post-content">
        {{ content }}
    </div>
    {{#if release_year}}
        <p>Released: <a href="/tags/release_year/{{ sanitize release_year }}">{{ release_year }}</a></p>
    {{/if}}
    {{#if origin_ethnicity}}
        <p>Country: <a href="/tags/origin_ethnicity/{{ sanitize origin_ethnicity }}">{{ origin_ethnicity }}</a></p>
    {{/if}}
    {{#if director}}
        <p>Director: <a href="/tags/director/{{ sanitize director }}">{{ director }}</a></p>
    {{/if}}
   {{#if cast}}
  <p>Cast:
    {{#each cast}}
    <a href="/tags/cast/{{sanitize this}}">{{this}}</a>{{comma}}
    {{/each}}
  </p>
  {{/if}}
    {{#if genre}}
        <p>Genre: <a href="/tags/genre/{{ sanitize genre }}">{{ genre }}</a></p>
    {{/if}}
    {{#if wiki_page}}
        <a href="{{ wiki_page }}">Wiki Page</a>
    {{/if}}
    {{#if plot}}
        <p>{{ plot }}</p>
    {{/if}}
</article>
